<div class="container">
    <div class="jumbotron" id="jumbo">
        <h1 class="text-center">NBA Headlines</h1>
        <hr>
        <h2 class="text-center">What's happening in the world of the NBA?</h2>
        <br>
    </div>
</div>
<div class="container">
    <div class="jumbotron" id="jumbo2">
        <div id="wrapper">
            <div id="articles"></div>
            <div id="notes"></div>
        </div>
    </div>
</div>
