body {
    background: url('http://imgview.info/download/20150425/nba-background-1024x640.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 5%;
}

#articles {
    width: 60%;
    height: 700px;
    display: inline-block;
    overflow: auto;
}

#notes {
    width: 30%;
    float: right;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

#titleinput {
    color: black;
}

textarea {
    height: 200px;
    font-size: 18px;
    color: black;
}

#jumbo, #jumbo2{
    margin-top: 30px;
    color: black;
	background-color: rgba(255,255,255, 0.6);
}

h1, h2{
    text-align: center;
}

#savenote {
    color: black;
}
